<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos</title>
</head>
<body>
    <table>
        <tr>
            <th>Argumentos</th><th>Plataforma</th><th>VersionNode</th><th>MemoriaTotal</th><th>pathExec</th><th>processId</th><th>Carpeta</th>
        </tr>
        <tr>
            <td><%= info.Argumentos %> </td>
            <td><%= info.Plataforma %> </td>
            <td><%= info.VersionNode %></td>
            <td><%= info.MemoriaTotal %></td>
            <td><%= info.pathExec %></td>
            <td><%= info.processId %></td>
            <td><%= info.Carpeta %></td>
        </tr>
    </table>
</body>
</html>